@import url(calcite-web.css);
.jive-body-layout-l {
  float: left;
  margin: 0 -240px 0 0;
  padding: 0;
  width: 98%;
}

.floatleft {
  float: left;
}

html * {
  outline: 0 !important;
}

body {
  min-width: 100% !important;
  width: 100% !important;
  /* overflow-x: hidden; */
}

.j-body-place #jive-body .j-page-header {
  padding: 7px 0px 15px 33px;
}

.j-placeHeaderInner {
  padding-top: 53px;
}

.j-page-header .j-placeHdImg {
  display: none !important;
}

.j-body-place #jive-body .j-page-header {
  background-repeat: no-repeat;
  background-size: cover;
}

#jive-widget-content {
  max-width: 1440px;
  margin: auto;
}

span.j-js-update-indicator.j-update-count.j-sidenav-count.j-navbadge-count.j-ui-elem, span.j-js-update-indicator.j-update-count.j-sidenav-count.j-actbadge-count.font-color-meta.j-ui-elem {
  right: inherit;
  margin-left: 20px;
}

#j-links .j-globalNav-li.j-nav-create .j-globalNavLink span.nav-link {
  padding: 7px 9px 0 21px;
  height: 36px;
  margin-right: -4px;
}

#j-main-wrapper {
  width: 100%;
  margin: auto;
  max-width: 1440px;
}

#j-compact-header a.j-globalNavLink:focus {
  text-decoration: none;
  color: #4d4d4d;
}

#j-links #j-satNav {
  height: 45px;
}

.j-body-place #j-main .j-layout {
  box-sizing: border-box;
  max-width: 100% !important;
  min-width: 99% !important;
}

@media screen and (max-width: 1480px) {
  .j-body-place #j-main .j-layout {
    margin: auto 10px;
  }
}

.ask-a-question-results {
  clear: both;
}

.j-body-home .j-layout-sl .j-column-l {
  margin-left: 120px;
}

.j-globalNav li.j-globalNav-li {
  height: 45px;
  line-height: 31px;
}

.j-body-place .j-contained #jive-widget-container {
  padding: 15px 0;
}

div#jive-widgetsize_27907 {
  margin-left: 10px;
}

.grid-container {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

nav.j-news-menu {
  margin: 20px;
}

div#j-js-communications {
  margin-left: 60px;
}

#esri-geonet-wrapper-featured .featured-spaces, #esri-geonet-wrapper-featured .featured-blogs {
  margin-top: 0;
  margin-left: -10px;
}

@media screen and (max-width: 860px) {
  .j-body-place #j-main .j-layout {
    margin: 0;
  }
}

#j-main {
  padding-top: 0;
  min-width: 99%;
  margin: 0 !important;
}

.jive-widget-header.j-rc4 h4 {
  color: #007ac2 !important;
  font-size: 28px;
  text-transform: initial;
  -webkit-font-smoothing: antialiased;
  font-family: "Avenir LT W01 35 Light",Arial,Helvetica,sans-serif !important;
  font-weight: 600;
}

#j-basic-wrap, .j-body-place #j-main {
  max-width: 100% !important;
  min-width: 100% !important;
}

#j-globalNav-bg, #j-main, .j-breadcrumb-bar .j-wrap, .j-content-r2 .j-content-r2-wrap, .j-body-place #j-main #jive-alert, .j-body-place #j-main .j-layout, #j-footer-wrap, nav.j-news-menu.affix .j-homenav {
  box-sizing: border-box;
  max-width: 1440px;
}

#j-globalNav-bg {
  top: 0 !important;
  width: 100% !important;
  max-width: 1440px;
  height: 45px;
  padding: 0;
  background: rgba(255, 255, 255, 0) !important;
  min-width: auto;
}

#j-globalNav-bg li {
  padding: 0 10px;
}

#j-globalNav-bg li.active:hover {
  cursor: auto;
}

#j-globalNav-bg li.active:hover a {
  color: #fff;
}

#j-globalNav-bg li a:hover {
  color: #222 !important;
}

@media screen and (max-width: 40em) {
  nav#j-globalNav-bg {
    background: #324251 !important;
  }
}

.j-body-welcome #j-spotlight-search {
  display: none !important;
}

#jive-widget-container {
  margin-top: 0;
}

#j-globalNav > li:first-child + li.j-globalNav-li {
  margin: 0;
}

.jive-widget-header.j-rc4 h4 {
  color: #007ac2 !important;
  font-size: 28px;
  text-transform: initial;
}

.jive-widget-body.j-rc4 .ask-a-question-search, .jive-widget-body.j-rc4 button[type='submit'] {
  float: left;
}

.jive-widget-body.j-rc4 .ask-a-question-search {
  width: 83%;
}

.jive-widget-body.j-rc4 button[type='submit'] {
  color: #007ac2;
  margin-left: 17px;
  margin-top: 0;
  padding: 12px 55px;
}

.j-layout-sl .j-column-s {
  float: left;
  position: relative;
  width: 170px;
  margin-top: 35px;
}

.jive-widget-header.j-rc4 h4 {
  color: #007ac2 !important;
  font-size: 28px;
  text-transform: initial;
  -webkit-font-smoothing: antialiased;
}

.j-guest-tip {
  display: block;
  font-size: 1.15em;
  padding: 8px 10px;
  margin: 0;
}

#j-browse-filters {
  margin-bottom: 20px;
  margin-top: 0;
  position: relative;
}

.j-mod-filters .j-form {
  margin-bottom: 20px;
}

#geonet-banner {
  background: url("//www.esri.com/~/media/04D03AC5F7794FF5B990F6803A255350");
  height: 130px;
  width: 100%;
}

#geonet-banner .geonet-navigation-bar {
  background: #f7f7f7;
  height: 45px;
  left: 0;
  position: absolute;
  top: 215px;
  width: 100%;
}

#geonet-banner .geonet-banner-title {
  margin: auto;
  padding-top: 25px;
  padding-left: 0;
  max-width: 1440px;
  width: 100%;
}

#geonet-banner .geonet-banner-title a:hover {
  text-decoration: none;
}

#geonet-banner .geonet-banner-title h1 {
  color: #fff;
  font-family: "Avenir LT W01 65 Medium",Arial,Helvetica,sans-serif !important;
  font-size: 45px;
}

#geonet-banner .geonet-banner-title h2 {
  color: #fff;
  font-family: "Avenir LT W01 35 Light",Arial,Helvetica,sans-serif !important;
  font-size: 15px;
}

.active.j-globalNav-li.j-ui-elem {
  background: #007ac2;
  color: #fff;
}

.j-rc5 {
  border-radius: 0 !important;
  margin-bottom: 0;
  margin-left: 10px;
}

.jive-widget-askaquestionwidget {
  margin-top: 20px;
}

.j-search-results-main-container {
  width: 75%;
}

.j-search-results-main {
  margin: 0 0 0 0;
}

#esri-geonet-wrapper {
  /*esri-geonet-prod end*/
}

#esri-geonet-wrapper .esri-geonet h1 {
  color: #007ac2 !important;
  font-family: "Avenir LT W01 35 Light",Arial,Helvetica,sans-serif !important;
  font-size: 28px;
  margin-bottom: 20px;
  margin-top: 15px;
  text-transform: initial;
  -webkit-font-smoothing: antialiased;
}

#esri-geonet-wrapper .esri-geonet hr {
  background: #cccccc;
  border: none;
  height: 1px;
  margin: 0;
}

#esri-geonet-wrapper .esri-geonet #products-card-hover:hover + .geonet-card.products .title {
  background: rgba(57, 151, 188, 0.85);
}

#esri-geonet-wrapper .esri-geonet #products-card-hover:hover + .geonet-card.products .title::after {
  border-color: rgba(57, 151, 188, 0.85) transparent;
}

#esri-geonet-wrapper .esri-geonet #industries-card-hover:hover + .geonet-card.industries .title {
  background: rgba(57, 151, 188, 0.85);
}

#esri-geonet-wrapper .esri-geonet #industries-card-hover:hover + .geonet-card.industries .title::after {
  border-color: rgba(57, 151, 188, 0.85) transparent;
}

#esri-geonet-wrapper .esri-geonet #regional-card-hover:hover + .geonet-card.regional .title {
  background: rgba(57, 151, 188, 0.85);
}

#esri-geonet-wrapper .esri-geonet #regional-card-hover:hover + .geonet-card.regional .title::after {
  border-color: rgba(57, 151, 188, 0.85) transparent;
}

#esri-geonet-wrapper .esri-geonet .geonet-card {
  height: 160px;
  position: relative;
  width: 100%;
  margin: 10px 0;
}

#esri-geonet-wrapper .esri-geonet .geonet-card:hover {
  cursor: pointer;
}

#esri-geonet-wrapper .esri-geonet .geonet-card:hover .title {
  background: rgba(57, 151, 188, 0.85);
}

#esri-geonet-wrapper .esri-geonet .geonet-card:hover .title::after {
  border-color: rgba(57, 151, 188, 0.85) transparent;
}

#esri-geonet-wrapper .esri-geonet .geonet-card .title {
  background: rgba(61, 128, 160, 0.85);
  box-sizing: border-box;
  color: #fff;
  font-family: "Avenir LT W01 35 Light",Arial,Helvetica,sans-serif !important;
  font-size: 28px;
  padding: 35px 0 15px 15px;
  position: relative;
  transition: background .35s ease-out;
}

#esri-geonet-wrapper .esri-geonet .geonet-card .title::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 35px;
  border-width: 20px 0 0 35px;
  border-style: solid;
  border-color: rgba(61, 128, 160, 0.85) transparent;
  display: block;
  width: 0;
}

#esri-geonet-wrapper .esri-geonet .geonet-card.products {
  background: url("//www.esri.com/~/media/E0148ED119BA4A5DBC63BA9C25D5AC16") bottom center no-repeat;
  background-size: cover;
}

#esri-geonet-wrapper .esri-geonet .geonet-card.industries {
  background: url("//www.esri.com/~/media/763444186DA240609BEBE1ED29BC86CA") bottom center no-repeat;
  background-size: cover;
}

#esri-geonet-wrapper .esri-geonet .geonet-card.regional {
  background: url("//www.esri.com/~/media/95E592DAB9F540EC92A68DF4BEE9EE92") bottom center no-repeat;
  background-size: cover;
}

#esri-geonet-wrapper .esri-geonet .geonet-card.geonet-arcgis-online {
  background: url("http://www.esri.com/~/media/Images/Content/geonet/GeoNet_ProductPage_Image_ArcGIS-Online.png") bottom center no-repeat;
  background-size: cover;
}

#esri-geonet-wrapper .esri-geonet .geonet-card.geonet-arcgis-server {
  background: url("http://www.esri.com/~/media/Images/Content/geonet/GeoNet_ProductPage_Image_ArcGISforServer.png") bottom right no-repeat;
  background-size: cover;
}

#esri-geonet-wrapper .esri-geonet .geonet-card.geonet-arcgis-desktop {
  background: url("http://www.esri.com/~/media/Images/Content/geonet/GeoNet_ProductPage_Image_ArcGISforDesktop.png") bottom center no-repeat;
  background-size: cover;
}

#esri-geonet-wrapper .esri-geonet .geonet-card.geonet-arcgis-applications {
  background: url("http://www.esri.com/~/media/Images/Content/geonet/GeoNet_ProductPage_Image_Applications.png") bottom center no-repeat;
  background-size: cover;
}

#esri-geonet-wrapper .esri-geonet .geonet-card.geonet-arcgis-content {
  background: url("http://www.esri.com/~/media/Images/Content/geonet/GeoNet_ProductPage_Image_Content.png") bottom center no-repeat;
  background-size: cover;
}

#esri-geonet-wrapper .esri-geonet .geonet-card.geonet-arcgis-extensions {
  background: url("http://www.esri.com/~/media/Images/Content/geonet/GeoNet_ProductPage_Image_Extensions.png") bottom center no-repeat;
  background-size: cover;
}

#esri-geonet-wrapper .esri-geonet .title a {
  color: #ffffff;
  text-decoration: none;
}

#esri-geonet-wrapper .esri-geonet-prod .ui-tabs .ui-tabs-nav li {
  margin: 5px 23px 10px 5px;
  width: 31%;
}

#esri-geonet-wrapper .esri-geonet-prod .geonet-bubble-left {
  position: relative;
  padding: 0px;
  background: #efefef;
  border-top: #dadbdc solid 1px;
  border-bottom: #dadbdc solid 1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-top: 30px;
  padding: 0px 0 20px 0;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}

#esri-geonet-wrapper .esri-geonet-prod .geonet-bubble-left:after {
  content: "";
  position: absolute;
  top: -20px;
  left: 15%;
  border-style: solid;
  border-width: 0 20px 20px;
  border-color: #efefef transparent;
  display: block;
  width: 0;
  z-index: 1;
}

#esri-geonet-wrapper .esri-geonet-prod .geonet-bubble-left:before {
  content: "";
  position: absolute;
  top: -21px;
  left: 15%;
  border-style: solid;
  border-width: 0 21px 21px;
  border-color: #dadbdc transparent;
  display: block;
  width: 0;
  z-index: 0;
}

#esri-geonet-wrapper .esri-geonet-prod .geonet-bubble-center {
  position: relative;
  padding: 0px;
  background: #efefef;
  border-top: #dadbdc solid 1px;
  border-bottom: #dadbdc solid 1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-top: 30px;
  padding: 0px 0 20px 0;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}

#esri-geonet-wrapper .esri-geonet-prod .geonet-bubble-center:after {
  content: "";
  position: absolute;
  top: -20px;
  left: 47%;
  border-style: solid;
  border-width: 0 20px 20px;
  border-color: #efefef transparent;
  display: block;
  width: 0;
  z-index: 1;
}

#esri-geonet-wrapper .esri-geonet-prod .geonet-bubble-center:before {
  content: "";
  position: absolute;
  top: -21px;
  left: 47%;
  border-style: solid;
  border-width: 0 21px 21px;
  border-color: #dadbdc transparent;
  display: block;
  width: 0;
  z-index: 0;
}

#esri-geonet-wrapper .esri-geonet-prod .geonet-bubble-right {
  position: relative;
  padding: 0px;
  background: #efefef;
  border-top: #dadbdc solid 1px;
  border-bottom: #dadbdc solid 1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-top: 30px;
  padding: 0px 0 20px 0;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}

#esri-geonet-wrapper .esri-geonet-prod .geonet-bubble-right:after {
  content: "";
  position: absolute;
  top: -20px;
  left: 80%;
  border-style: solid;
  border-width: 0 20px 20px;
  border-color: #efefef transparent;
  display: block;
  width: 0;
  z-index: 1;
}

#esri-geonet-wrapper .esri-geonet-prod .geonet-bubble-right:before {
  content: "";
  position: absolute;
  top: -21px;
  left: 80%;
  border-style: solid;
  border-width: 0 21px 21px;
  border-color: #dadbdc transparent;
  display: block;
  width: 0;
  z-index: 0;
}

#esri-geonet-wrapper .esri-geonet-prod .last {
  margin: 5px 0px 10px 8px !important;
}

#esri-geonet-wrapper .esri-geonet-prod hr {
  margin: 0;
}

#esri-geonet-wrapper .esri-geonet-prod h2 {
  color: #007ac2 !important;
  font-family: "Avenir LT W01 35 Light",Arial,Helvetica,sans-serif !important;
  font-size: 28px;
  margin-bottom: 20px;
  margin-top: 30px;
  text-transform: initial;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
}

#esri-geonet-wrapper .esri-geonet-prod .geonet-prod-sub-nav {
  margin: 0 auto 30px;
  float: none;
}

#esri-geonet-wrapper .esri-geonet-prod .geonet-prod-sub-nav .prod-btn {
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  height: auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

#esri-geonet-wrapper .esri-geonet-prod .geonet-prod-sub-nav .prod-btn:hover {
  -webkit-filter: brightness(80%);
  cursor: pointer;
}

#esri-geonet-wrapper .toggle {
  margin: 0 0 40px 8px;
  display: none;
}

#esri-geonet-wrapper .geonet-footerCards {
  margin: 0;
}

@media screen and (max-width: 600px) {
  #esri-geonet-wrapper .esri-geonet-prod .block-group-5-up .block {
    width: 100%;
    text-align: center;
  }
  #esri-geonet-wrapper .esri-geonet-prod h2 {
    text-align: center;
  }
}

.widget-header {
  color: #007ac2 !important;
  font-family: "Avenir LT W01 35 Light",Arial,Helvetica,sans-serif !important;
  font-size: 28px;
  margin-bottom: 0;
  margin-top: 30px;
  text-transform: initial;
  -webkit-font-smoothing: antialiased;
  letter-spacing: normal;
  letter-spacing: initial;
}

#esri-geonet-wrapper-subIcons .icons-sub-nav {
  margin-top: 30px;
  border-top: 2px solid #CBCBCB;
  border-bottom: 2px solid #CBCBCB;
}

#esri-geonet-wrapper-subIcons .icons-sub-nav h1 {
  margin-top: 20px;
}

#esri-geonet-wrapper-subIcons .icons-sub-nav .icon-btn {
  text-align: center;
  padding: 40px 0;
  transition: background .35s ease-out;
}

#esri-geonet-wrapper-subIcons .icons-sub-nav .icon-btn:hover {
  background: #f7f7f7;
  cursor: pointer;
}

#esri-geonet-wrapper-subIcons .icons-sub-nav .icon-btn .icon {
  background: #ccc;
  height: 50px;
  margin: auto;
  width: 50px;
}

#esri-geonet-wrapper-subIcons .icons-sub-nav .icon-btn .icon.installation {
  background: url("//www.esri.com/~/media/2500B8C6A8D04776B9EDBA7BAB332ADC") 0 0 no-repeat;
}

#esri-geonet-wrapper-subIcons .icons-sub-nav .icon-btn .icon.developers {
  background: url("//www.esri.com/~/media/103BC4A16F3C4EB3A1CB8EA9A547288B") 0 0 no-repeat;
}

#esri-geonet-wrapper-subIcons .icons-sub-nav .icon-btn .icon.events {
  background: url("//www.esri.com/~/media/529686FA9988405EAE170FA6378528B0") 0 0 no-repeat;
}

#esri-geonet-wrapper-subIcons .icons-sub-nav .icon-btn .icon.learn {
  background: url("//www.esri.com/~/media/7CEDC0D9C5B14EC7B9198FFEC86A18F5") 0 0 no-repeat;
}

#esri-geonet-wrapper-subIcons .icons-sub-nav .icon-btn .icon.topics {
  background: url("//www.esri.com/~/media/39DDC1655D0546ECA134B682E3C07A20") 0 0 no-repeat;
}

#esri-geonet-wrapper-subIcons .icons-sub-nav .icon-btn .icon-title {
  font-family: "Avenir LT W01 35 Light",Arial,Helvetica,sans-serif !important;
  font-size: 18px;
  margin-top: 20px;
}

#esri-geonet-wrapper-featured {
  margin: 15px 0;
  border-bottom: 2px solid #CBCBCB;
  padding-bottom: 50px;
}

#esri-geonet-wrapper-featured .featured-spaces, #esri-geonet-wrapper-featured .featured-blogs {
  margin-top: 0;
}

#esri-geonet-wrapper-featured .featured-spaces .block, #esri-geonet-wrapper-featured .featured-blogs .block {
  padding: 10px 30px 10px 10px;
}

#esri-geonet-wrapper-featured .featured-spaces h3, #esri-geonet-wrapper-featured .featured-blogs h3 {
  color: #007ac2 !important;
  font-family: "Avenir LT W01 35 Light",Arial,Helvetica,sans-serif !important;
  font-size: 28px;
  margin-bottom: 20px;
  margin-top: 30px;
  text-transform: initial;
  -webkit-font-smoothing: antialiased;
  letter-spacing: normal;
  letter-spacing: initial;
  margin-left: 10px;
}

#esri-geonet-wrapper-featured .featured-spaces .icon, #esri-geonet-wrapper-featured .featured-blogs .icon {
  background: #ccc;
  float: left;
  height: 100px;
  margin: auto;
  width: 140px;
}

#esri-geonet-wrapper-featured .featured-spaces .icon.mooc, #esri-geonet-wrapper-featured .featured-blogs .icon.mooc {
  background: url("//www.esri.com/~/media/B2DED37DC5DD48F099F849A32F9582C4") 0 0 no-repeat;
  background-size: contain;
}

#esri-geonet-wrapper-featured .featured-spaces .icon.webApp-builder, #esri-geonet-wrapper-featured .featured-blogs .icon.webApp-builder {
  background: url("//www.esri.com/~/media/E291C49C1DD844A089B60E4BFAA576B8") 0 0 no-repeat;
  background-size: contain;
}

#esri-geonet-wrapper-featured .featured-spaces .icon.healthandHuman, #esri-geonet-wrapper-featured .featured-blogs .icon.healthandHuman {
  background: url("//www.esri.com/~/media/BB5514C3421C472AAA923B806D29FA34") 0 0 no-repeat;
  background-size: contain;
}

#esri-geonet-wrapper-featured .featured-spaces .icon.valentinesUpdate, #esri-geonet-wrapper-featured .featured-blogs .icon.valentinesUpdate {
  background: url("//www.esri.com/~/media/8A8C93D8F44D4E5A897CE605D0A48E7C") 0 0 no-repeat;
  background-size: contain;
}

#esri-geonet-wrapper-featured .featured-spaces .icon.python, #esri-geonet-wrapper-featured .featured-blogs .icon.python {
  background: url("//www.esri.com/~/media/C64D2CA23EF84A58A22955DE7CC7E573") 0 0 no-repeat;
  background-size: contain;
}

#esri-geonet-wrapper-featured .featured-spaces .icon.startup, #esri-geonet-wrapper-featured .featured-blogs .icon.startup {
  background: url("//www.esri.com/~/media/7A2BBC2CDCA44F29804EF9028E81B743") 0 0 no-repeat;
  background-size: contain;
}

#esri-geonet-wrapper-featured .featured-spaces .iconText a, #esri-geonet-wrapper-featured .featured-spaces .iconText p, #esri-geonet-wrapper-featured .featured-blogs .iconText a, #esri-geonet-wrapper-featured .featured-blogs .iconText p {
  font-family: "Avenir LT W01 35 Light",Arial,Helvetica,sans-serif !important;
}

#esri-geonet-wrapper-featured .featured-spaces .iconText a, #esri-geonet-wrapper-featured .featured-blogs .iconText a {
  color: #4c4c4c;
  display: block;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 7px;
}

#esri-geonet-wrapper-featured .featured-spaces .iconText p, #esri-geonet-wrapper-featured .featured-blogs .iconText p {
  color: #959595;
  font-size: 16px;
}

#esri-geonet-wrapper-featured .featured-spaces .iconText p a, #esri-geonet-wrapper-featured .featured-blogs .iconText p a {
  color: #a8a8a8;
  font-size: 14px;
  font-family: "Avenir LT W01 35 Light",Arial,Helvetica,sans-serif !important;
}

#esri-geonet-wrapper-news .latest-news {
  display: inline-block;
}

#esri-geonet-wrapper-news .latest-news .largeVideo {
  padding-bottom: 50px;
}

#esri-geonet-wrapper-news .latest-news h3 {
  color: #007ac2 !important;
  font-family: "Avenir LT W01 35 Light",Arial,Helvetica,sans-serif !important;
  font-size: 28px;
  margin-bottom: 20px;
  margin-top: 30px;
  text-transform: initial;
  -webkit-font-smoothing: antialiased;
  letter-spacing: normal;
  letter-spacing: initial;
  margin-left: 10px;
}

#esri-geonet-wrapper-news .latest-news .main-video {
  background: url("//www.esri.com/~/media/D582D1F7D9194CDA902D0B5A8D7D53D4") 0 0 no-repeat;
  background-size: cover;
  box-sizing: border-box;
  height: 250px;
  margin-bottom: 10px;
  padding-top: 15%;
  position: relative;
  width: 95%;
}

#esri-geonet-wrapper-news .latest-news .main-video:hover {
  cursor: pointer;
}

#esri-geonet-wrapper-news .latest-news .main-video:hover .play-head {
  background-position: -89px 0;
}

#esri-geonet-wrapper-news .latest-news .main-video .play-head {
  background: url("//www.esri.com/~/media/504C9C04E5C9487DAF1D70588DF037F3") 0 0 no-repeat;
  height: 88px;
  margin: auto;
  width: 88px;
}

#esri-geonet-wrapper-news .latest-news .sm-video-wrapper {
  margin-bottom: 20px;
}

#esri-geonet-wrapper-news .latest-news .sm-video-wrapper .column-10 {
  float: left;
}

#esri-geonet-wrapper-news .latest-news .sm-video-wrapper h5, #esri-geonet-wrapper-news .latest-news .sm-video-wrapper p {
  margin-bottom: 5px;
}

#esri-geonet-wrapper-news .latest-news .sm-video-wrapper h5 {
  color: #4c4c4c;
  display: block;
  font-size: 21px;
  margin-bottom: 7px;
  font-family: "Avenir LT W01 35 Light",Arial,Helvetica,sans-serif !important;
}

#esri-geonet-wrapper-news .latest-news .sm-video-wrapper p {
  color: #959595;
  font-size: 16px;
  font-family: "Avenir LT W01 35 Light",Arial,Helvetica,sans-serif !important;
}

#esri-geonet-wrapper-news .latest-news .sm-video-wrapper .sm-video {
  background: #ccc;
  box-sizing: border-box;
  padding-top: 4%;
  position: relative;
  margin-bottom: 30px;
  float: left;
  height: 145px;
  width: 180px;
  margin-right: 20px;
}

#esri-geonet-wrapper-news .latest-news .sm-video-wrapper .sm-video a {
  display: block;
  height: 145px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#esri-geonet-wrapper-news .latest-news .sm-video-wrapper .sm-video.sm-vid-1 {
  background: url("//www.esri.com/~/media/B4DEC91EC0DE4A20AA79778F7B009AF9") center no-repeat;
  background-size: cover;
  margin-left: -0.5rem;
}

#esri-geonet-wrapper-news .latest-news .sm-video-wrapper .sm-video.sm-vid-2 {
  background: url("//www.esri.com/~/media/57EA9F4AC3E3431ABDEC7D0A05BEC929") center no-repeat;
  background-size: cover;
  margin-bottom: 60px;
}

#esri-geonet-wrapper-news .latest-news .sm-video-wrapper .sm-video:hover {
  cursor: pointer;
}

#esri-geonet-wrapper-news .latest-news .sm-video-wrapper .sm-video:hover .play-head {
  background-position: -89px 0;
}

#esri-geonet-wrapper-news .latest-news .sm-video-wrapper .sm-video .play-head {
  background: url("//www.esri.com/~/media/504C9C04E5C9487DAF1D70588DF037F3") 0 0 no-repeat;
  height: 88px;
  margin: auto;
  width: 88px;
}

#esri-geonet-wrapper-news .latest-news .sm-video-wrapper .sm-video-desc {
  box-sizing: border-box;
}

#esri-geonet-wrapper-news .latest-news .sm-video-wrapper .sm-video-desc p {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0;
}

#esri-geonet-wrapper-news .latest-news .sm-video-wrapper .sm-video-desc p:last-of-type {
  margin-top: 10px;
  line-height: 17px;
}

#esri-geonet-wrapper-news .latest-news .sm-video-wrapper .sm-video-desc a, #esri-geonet-wrapper-news .latest-news .sm-video-wrapper .sm-video-desc .view-more {
  font-size: 12px;
}

#esri-geonet-wrapper-banner {
  margin-bottom: 50px;
}

.block span {
  width: 100%;
  display: block;
  color: white;
  background-color: rgba(0, 121, 193, 0.6);
  font-family: monospace;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}

.deactivecard:after {
  opacity: .4;
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  transition: background .35s ease-out;
}

@media screen and (max-width: 1440px) {
  .jive-widget-body.j-rc4 .ask-a-question-search {
    width: 80%;
  }
  #j-footer-wrap {
    min-width: 100%;
    max-width: 100%;
  }
  #geonet-banner .geonet-banner-title {
    margin: auto;
    padding-top: 25px;
    padding-left: 31px;
    max-width: 1440px;
    width: 100%;
  }
}

@media screen and (max-width: 1140px) {
  .jive-widget-body.j-rc4 .ask-a-question-search {
    width: 75%;
  }
}

@media screen and (max-width: 1120px) {
  #jive-body-layout-ls .jive-body-layout-l .jive-widget-container-large {
    margin-right: 0;
  }
}

@media screen and (max-width: 1120px) and (max-width: 720px) {
  .jive-widget-body.j-rc4 .ask-a-question-search {
    width: 60%;
  }
  #j-footer-wrap {
    min-width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 1120px) {
  #jive-body-layout-ls .jive-body-layout-l {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  #jive-body-layout-ls .jive-body-layout-s {
    float: left;
    padding-left: 30px;
  }
}

@media screen and (max-width: 1100px) {
  .column-19 {
    width: 100%;
    max-width: 100vw;
  }
  .column-20 {
    width: 100%;
    max-width: 100vw;
  }
  .column-18 {
    width: 100%;
    max-width: 100vw;
  }
  .column-10 {
    width: 50%;
    max-width: 48vw;
  }
}

@media screen and (max-width: 1000px) {
  .column-11 {
    width: 664.5833333333px;
    max-width: 51vw;
  }
}

@media screen and (max-width: 860px) {
  .column-11 {
    width: 664.5833333333px;
    max-width: 95vw;
  }
}

@media screen and (max-width: 700px) {
  #esri-geonet-wrapper .esri-geonet-prod .geonet-prod-sub-nav .prod-btn {
    width: 80%;
  }
}

@media screen and (max-width: 680px) {
  .block-group-5-up .block {
    width: 50%;
  }
}

@media screen and (max-width: 640px) {
  #jive-widget-container {
    display: block !important;
  }
  .jive-widget-htmltextwidget,
  .jive-widget-searchwidget {
    display: block !important;
  }
  #esri-geonet-wrapper .block-group-3-up .block {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 20px;
  }
  #esri-geonet-wrapper .block-group-5-up .block {
    width: 50%;
    padding-right: 0;
    padding-left: 0;
  }
  #esri-geonet-wrapper .column-2 {
    width: 100%;
    max-width: 100%;
  }
  #esri-geonet-wrapper .esri-geonet .featured-spaces .icon, #esri-geonet-wrapper .esri-geonet .featured-blogs .icon {
    float: none;
    margin-bottom: 20px;
  }
  #esri-geonet-wrapper .esri-geonet .featured-spaces .icon-title, #esri-geonet-wrapper .esri-geonet .featured-blogs .icon-title {
    float: none;
    text-align: center;
    margin: 15px 0;
  }
  #esri-geonet-wrapper .gutter-left-3 {
    padding-left: 0;
  }
  #esri-geonet-wrapper .sm-video-wrapper h2 {
    margin: 20px 0 10px 0;
  }
  #esri-geonet-wrapper .esri-geonet .latest-news .sm-video-wrapper {
    text-align: center;
  }
  #esri-geonet-wrapper .esri-geonet .latest-news .sm-video-wrapper p {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  #esri-geonet-wrapper .esri-geonet .latest-news .sm-video-wrapper .sm-video {
    float: none;
    margin: auto;
  }
  #j-header a.j-globalNavLink, #j-compact-header a.j-globalNavLink {
    display: inline-block;
    color: #cccccc;
  }
}

@media screen and (max-width: 600px) {
  .esri-geonet-prod .block-group-5-up .block {
    width: 100%;
    text-align: center;
  }
  .esri-geonet-prod h2 {
    text-align: center;
  }
  .esri-geonet-prod .j-second-nav {
    margin-top: 100px;
  }
  .esri-geonet-prod #j-browse-item-grid {
    position: relative;
    margin-left: 160px;
  }
  #esri-geonet-wrapper .esri-geonet .geonet-card {
    margin-bottom: 10px;
  }
  #esri-geonet-wrapper .esri-geonet-prod .geonet-prod-sub-nav .prod-btn {
    width: 40%;
  }
}

@media screen and (max-width: 480px) {
  .geonet-bubble-left:after {
    left: 45% !important;
  }
  .geonet-bubble-left:before {
    left: 45% !important;
  }
  .geonet-bubble-center:after {
    left: 45% !important;
  }
  .geonet-bubble-center:before {
    left: 45% !important;
  }
  .geonet-bubble-right:after {
    left: 45% !important;
  }
  .geonet-bubble-right:before {
    left: 45% !important;
  }
}

@media screen and (max-width: 40em) {
  #j-globalNav #mobile-menu > a {
    height: 45px;
  }
  #j-globalNav-bg li a:hover {
    color: #007ac2 !important;
    background: none !important;
  }
}

/*# sourceMappingURL=esri-geonet.css.map */